In [37]:
import numpy as np
import pandas as pd
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.datasets import make_blobs

In [38]:
foods = pd.read_csv("Food_Display_Table.csv",delimiter=',')
recipes = pd.read_csv("food_250.csv",delimiter=',')
foods2 = pd.read_csv("epi_r.csv",delimiter=',')

In [39]:
foods.head()

,Food_Code,Display_Name,Portion_Default,Portion_Amount,Portion_Display_Name,Factor,Increment,Multiplier,Grains,Whole_Grains,...,Milk,Meats,Soy,Drybeans_Peas,Oils,Solid_Fats,Added_Sugars,Alcohol,Calories,Saturated_Fats
0,12350000,Sour cream dip,1,0.25,cup,0.25,0.25,1.00,0.04799,0.0,...,0.00000,0.0000,0.0,0.0,0.0,105.64850,1.57001,0.0,133.65,7.36898
1,13110100,"Ice cream, regular",1,1.00,cup,1.00,0.25,0.25,0.00000,0.0,...,0.29393,0.0000,0.0,0.0,0.0,130.99968,95.20488,0.0,267.33,9.03070
2,13110120,"Ice cream, rich",1,1.00,cup,1.00,0.25,0.25,0.00000,0.0,...,0.25160,0.0962,0.0,0.0,0.0,213.06672,96.10340,0.0,368.52,15.28840
3,13110200,Soft serve ice cream,1,1.00,cup,1.00,0.25,0.25,0.00000,0.0,...,0.38233,0.0000,0.0,0.0,0.0,170.39808,123.83793,0.0,347.73,11.74670
4,13120100,"Ice cream bar, chocolate covered",1,1.00,bar (bar = 3 fl oz),1.00,0.50,0.50,0.00000,0.0,...,0.09744,0.0000,0.0,0.0,0.0,112.32144,45.54761,0.0,169.12,9.58720

In [40]:
recipes.head()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East

In [41]:
foods2.head()

,title,rating,calories,protein,fat,sodium,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
0,"Lentil, Apple, and Turkey Wrap",2.500,426.0,30.0,7.0,559.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Boudin Blanc Terrine with Red Onion Confit,4.375,403.0,18.0,23.0,1439.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Potato and Fennel Soup Hodge,3.750,165.0,6.0,7.0,165.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Mahi-Mahi in Tomato Olive Sauce,5.000,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Spinach Noodle Casserole,3.125,547.0,20.0,32.0,452.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
missing_vals_foods = (foods.isnull().sum())
print(missing_vals_foods[missing_vals_foods > 0])

Factor    3
dtype: int64

In [43]:
#new_foods = foods.copy()
#cols_with_missing_foods = (col for col in new_foods.columns 
#                                    if new_foods[col].isnull().any())
#for col in cols_with_missing_foods:
#    new_foods[col + '_was_missing'] = new_foods[col].isnull()

In [44]:
from sklearn.impute import SimpleImputer

In [45]:
#my_imputer = SimpleImputer()
#new_foods = pd.DataFrame(my_imputer.fit_transform(new_foods))
#new_foods.columns = foods.columns

In [46]:
foods['Factor'] = foods['Factor'].replace(np.NaN,foods['Factor'].mean())

In [47]:
foods.isnull().sum()

Food_Code               0
Display_Name            0
Portion_Default         0
Portion_Amount          0
Portion_Display_Name    0
Factor                  0
Increment               0
Multiplier              0
Grains                  0
Whole_Grains            0
Vegetables              0
Orange_Vegetables       0
Drkgreen_Vegetables     0
Starchy_vegetables      0
Other_Vegetables        0
Fruits                  0
Milk                    0
Meats                   0
Soy                     0
Drybeans_Peas           0
Oils                    0
Solid_Fats              0
Added_Sugars            0
Alcohol                 0
Calories                0
Saturated_Fats          0
dtype: int64

In [48]:
missing_vals_foods = (foods.isnull().sum())
print(missing_vals_foods[missing_vals_foods > 0])

Series([], dtype: int64)

In [49]:
foods2.isnull().sum()

title            0
rating           0
calories      4117
protein       4162
fat           4183
              ...
cookbooks        0
leftovers        0
snack            0
snack week       0
turkey           0
Length: 680, dtype: int64

In [50]:
missing_vals_foods = (foods2.isnull().sum())
print(missing_vals_foods[missing_vals_foods > 0])

calories    4117
protein     4162
fat         4183
sodium      4119
dtype: int64

In [51]:
foods2['calories'] = foods2['calories'].replace(np.NaN,foods2['calories'].mean())

In [52]:
missing_vals_foods = (foods2.isnull().sum())
print(missing_vals_foods[missing_vals_foods > 0])

protein    4162
fat        4183
sodium     4119
dtype: int64

In [53]:
foods2['protein'] = foods2['protein'].replace(np.NaN,foods2['protein'].mean())
foods2['fat'] = foods2['fat'].replace(np.NaN,foods2['fat'].mean())
foods2['sodium'] = foods2['sodium'].replace(np.NaN,foods2['sodium'].mean())

In [54]:
foods2.head()

,title,rating,calories,protein,fat,sodium,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
0,"Lentil, Apple, and Turkey Wrap",2.500,426.000000,30.000000,7.000000,559.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Boudin Blanc Terrine with Red Onion Confit,4.375,403.000000,18.000000,23.000000,1439.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Potato and Fennel Soup Hodge,3.750,165.000000,6.000000,7.000000,165.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Mahi-Mahi in Tomato Olive Sauce,5.000,6322.958017,100.160793,346.877497,6225.974895,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Spinach Noodle Casserole,3.125,547.000000,20.000000,32.000000,452.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
foods2.isnull().sum()

title         0
rating        0
calories      0
protein       0
fat           0
             ..
cookbooks     0
leftovers     0
snack         0
snack week    0
turkey        0
Length: 680, dtype: int64

In [56]:
recipes.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            1
dtype: int64

In [57]:
missing_vals_foods = (recipes.isnull().sum())
print(missing_vals_foods[missing_vals_foods > 0])

region    1
dtype: int64

In [58]:
recipes['region'].value_counts()

West          74
South         59
North         49
East          31
North East    25
-1            13
Central        3
Name: region, dtype: int64

In [59]:
recipes['region'] = recipes['region'].fillna('West')

In [60]:
missing_vals_foods = (recipes.isnull().sum())
print(missing_vals_foods[missing_vals_foods > 0])

Series([], dtype: int64)

In [61]:
recipes.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            0
dtype: int64

In [62]:
foods2.apply(lambda x: sum(x.isnull()),axis=0)

title         0
rating        0
calories      0
protein       0
fat           0
             ..
cookbooks     0
leftovers     0
snack         0
snack week    0
turkey        0
Length: 680, dtype: int64

In [63]:
recipes.apply(lambda x: sum(x.isnull()),axis=0)

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            0
dtype: int64

In [64]:
foods.shape

(2014, 26)

In [65]:
foods2.shape

(20052, 680)

In [66]:
recipes.shape

(255, 9)

In [67]:
#Train Data

In [68]:
X = foods2.drop('title',axis=1)
y = foods2['title']

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(14036, 679) (6016, 679) (14036,) (6016,)

In [70]:
from sklearn.linear_model import LogisticRegression

In [71]:
model = LogisticRegression()

In [72]:
model.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [73]:
predictions = model.predict(X_test)

In [75]:
classification_model(y_test,predictions)

NameError: name 'classification_model' is not defined